.no-prod-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
  img {
    width: 400px;
  }
}
@media screen and (max-width: 500px) {
  .no-prod-cont {
    img {
      width: 340px;
    }
  }
}
