:root {
  --primary-blue: #1e40af;
  --accent-blue: #0ea5e9;
  --background-blue: #eff6ff;
  --text-blue: #1e293b;
  --text-normal: #4b5966;
  --hover-blue: #3b82f6;
}
@font-face {
  font-family: poppinsBold;
  src: url(../../assets/font/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: poppinsLight;
  src: url(../../assets/font/Poppins-Light.ttf);
}
@font-face {
  font-family: poppinsSemiBold;
  src: url(../../assets/font/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: poppinsRegular;
  src: url(../../assets/font/Poppins-Medium.ttf);
}
.product-about-container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.product-about-container-image {
  width: 46%;
  img {
    height: 350px;
    object-fit: contain;
    border-radius: 10px;
    width: 100%;
  }
}
.sub-image-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sub-img-item {
  width: 120px;
  height: 100px;
  border-radius: 10px;
  background-color: #f1f1f1;
  padding: 2px;
  transition: 200ms;
  img {
    height: 100%;
    width: 100%;
  }
}
.sub-img-item:hover {
  opacity: 0.7;
}
.product-about-container-content {
  width: 46%;
}
.prod-abt-category {
  color: #787878;
  font-family: poppinsRegular;
  font-size: 14px;
  margin-top: 10px;
}
.details-line {
  width: 100%;
  height: 1px;
  background-color: #e3e3e3;
  margin-top: 10px;
}
.detail-content {
  margin-top: 20px;
  font-size: 15px;
  font-family: poppinsRegular;
  color: var(--text-normal);
}
.related-head {
  font-family: poppinsSemiBold;
  font-size: 21px;
  color: #21313c;
}
.related-container {
  margin-top: 100px;
}
.inner-line {
  height: 1px;
  width: 100px;
  background-color: #001a6f;
}
.det-text-container {
  margin-top: 100px;
}
.details-text-head {
  color: var(--primary-blue);
  font-family: poppinsRegular;
  font-size: 14px;
}
.prod-abt-name {
  font-family: poppinsSemiBold;
  font-size: 27px;
  color: #383838;
  margin-top: 6px;
}
.ratin-num {
  font-size: 13px;
  font-family: poppinsRegular;
  color: #787878;
}
.prod-abt-price {
  font-family: poppinsSemiBold;
  font-size: 20px;
  color: #21313c;
}
.item-discount-lg {
  margin-left: 5px;
  font-family: poppinsRegular;
  color: rgb(10 173 10);
}
.prod-abt-Old-price {
  font-family: poppinsSemiBold;
  font-size: 20px;
  color: tomato;
  text-decoration: line-through;
}
.but-now-button {
  margin-top: 20px;
  width: 40%;
  border-radius: 10px;
  font-size: 13px;
  font-family: poppinsRegular;
  display: flex;
  height: 50px;
  border: none;
  background-color: var(--primary-blue);
  color: white;
  align-items: center;
  justify-content: center;
}
/* .cont-1 {
  padding: 0 0 30px 0;
} */
.cont-2 {
  margin-top: 20px;
}
.abt-counter-body {
  display: flex;
  align-items: center;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  width: fit-content;
  .abt-button-1 {
    height: 35px;
    width: 35px;
    border: none;
    border-right: 1px solid #eaeaea;
    background-color: transparent;
    display: flex;
    color: var(--text-normal) !important;
    align-items: center;
    justify-content: center;
    transition: 100ms;
  }
  .about-counter {
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: poppinsRegular;
    font-size: 13px;
  }
  .abt-button-2 {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    color: var(--text-normal) !important;
    border: none;
    border-left: 1px solid #eaeaea;
    background-color: transparent;
    transition: 100ms;
  }
  .abt-button-1:hover {
    background-color: #eaeaea;
  }
  .abt-button-2:hover {
    background-color: #eaeaea;
  }
}

.abt-add-cart {
  color: white;
  font-family: poppinsRegular;
  font-size: 13px;
  background-color: var(--primary-blue);
  padding: 11px 40px;
  width: fit-content;
  height: 45px !important;
  border-radius: 10px;
  transition: 100ms;
  border: none;
}
.Stock-cont {
  padding: 2px 7px;
  border-radius: 5px;
  width: fit-content;
  font-family: poppinsRegular;
  color: white;
  font-size: 11px;
}
.Stock-cont.in {
  background-color: green;
}
.Stock-cont.out {
  background-color: red;
}
.abt-buttons {
  margin-top: 20px;

  display: flex;
  align-items: center;
  gap: 10px;
}
.abt-add-cart:hover {
  background-color: #001a6f;
}
.gram-cont {
  margin-top: 10px;
  border: 1.1px solid #d3d3d3;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 13px;
  color: #787878;
  font-family: poppinsSemiBold;
  width: fit-content;
}
.abt-heart-1 {
  border: none;
  height: 45px;
  font-size: 12px !important;
  width: 45px;
  border-radius: 10px;
  color: var(--text-normal);
  background-color: #f0f0f0;
}
.abt-heart-1:hover {
  background-color: #ededed;
}
.comment-section-container {
  margin-top: 70px;
}

.styled-quill-wrapper {
  border: 1px solid #e5e7eb; /* light gray border */
  border-radius: 10px;
  background-color: #f9f9f9;
  padding: 0;
  height: 200px;
  overflow: scroll;
  margin-top: 20px;
  scrollbar-width: none !important;
}
.comment-head {
  font-family: poppinsSemiBold;
  font-size: 21px;
  color: #21313c;
  span {
    color: white;
    font-family: poppinsSemiBold;
    font-size: 14px;
    padding: 2px 10px;
    border-radius: 20px;
    background-color: orangered;
  }
}
.sort-comment-cont {
  color: #787878;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  select {
    border: none;
    outline: none;
  }
  label {
    margin-top: 5px !important;
  }
}
/* Toolbar styling */
.custom-quill .ql-toolbar {
  /* or any custom font */
  color: #4b5563 !important;
  padding: 20px;
  border-left: 1px solid #ffffff !important;
  border-right: 1px solid #ffffff !important;
  border-top: 1px solid #ffffff !important;
  border-bottom: 1px solid #00000024 !important;
  margin-bottom: 6px;
}

/* Toolbar buttons */
.custom-quill .ql-toolbar button {
  border: none !important;
  background: none;
  color: #0f2f6f !important; /* gray-500 */
  padding: 4px 6px;
  margin-right: 4px;
  transition: all 0.2s ease;
  border-radius: 6px;
}

.custom-quill .ql-toolbar button:hover,
.custom-quill .ql-toolbar button.ql-active {
  background-color: #eef2ff; /* light purple bg */
  color: #6366f1; /* indigo-500 */
}

/* Editor container */
.custom-quill .ql-container {
  border: none !important;
  font-size: 14px;
  color: #4b5563; /* text-gray-600 */
  padding: 0;
}

/* Actual input area */
.custom-quill .ql-editor {
  min-height: 100px;
  padding: 8px 10px;
}
.comment-container {
  margin-top: 10px;
}
.send-button {
  padding: 10px 30px;
  color: #fff;
  background-color: var(--text-blue);
  border: none;
  font-size: 13px;
  border-radius: 20px;
  margin-top: 10px;
  transition: 200ms;
}
.item-like {
  color: tomato !important;
}
.noComment {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  font-size: 14px;
  margin-top: 40px;
  color: #787878;
  font-family: poppinsRegular;
  .img {
    img {
      width: 300px;
    }
  }
}
.comment-loading {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 14px;
  color: #787878;
  font-family: poppinsRegular;
}
.send-button:hover {
  background-color: var(--text-blue);
  opacity: 0.8;
}
.comment-item {
  display: flex;
  margin-top: 20px;
  gap: 10px;
  .icon {
    height: 40px;
    width: 40px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: #f1f1f1;
  }
}
.likes-buttons {
  color: #787878;
  transition: 200ms;
  font-size: 15px;
  font-family: poppinsRegular;
}
.likes-buttons:hover {
  color: orangered;
}
.review {
  margin-top: 5px;
  font-family: poppinsLight;
  font-size: 13px;
}
.review-name {
  font-family: poppinsRegular;
  font-size: 15px;
}
.timer {
  font-size: 13px;

  color: #787878;
  font-family: poppinsLight;
}
@media screen and (max-width: 650px) {
  .product-about-container {
    flex-direction: column;
    align-items: center;
  }
  .product-about-container-image {
    width: 95%;
  }
  .product-about-container-content {
    width: 95%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .det-text-container {
    margin-top: 50px;
  }
  .related-container {
    margin-top: 70px;
  }
  .sub-img-item {
    margin: 20px 0;
  }
}
@media screen and (max-width: 450px) {
  .product-about-container-image {
    width: 100%;
  }
  .product-about-container-content {
    width: 100%;
  }
  .prod-abt-name {
    font-size: 27px;
  }
}
