:root {
  --primary-blue: #1e40af;
  --accent-blue: #0ea5e9;
  --background-blue: #eff6ff;
  --text-blue: #1e293b;
  --hover-blue: #3b82f6;
  --text-normal: #4b5966;
}
@font-face {
  font-family: poppinsBold;
  src: url(../../assets/font/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: poppinsLight;
  src: url(../../assets/font/Poppins-Light.ttf);
}
@font-face {
  font-family: poppinsSemiBold;
  src: url(../../assets/font/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: poppinsRegular;
  src: url(../../assets/font/Poppins-Medium.ttf);
}
.CategoryContainer {
  padding: 20px 0;
  margin-top: 40px;
}
.header-sub-head {
  color: #333c45;
  font-size: 11px;
  letter-spacing: 2px;
  font-weight: 400;
  font-family: poppinsRegular;
  text-transform: uppercase;
}
.CategoryContainer-head {
  font-size: 20px !important;
  font-weight: 400;
  color: var(--text-blue);
  font-family: poppinsRegular;
}
.Category-body-container {
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.category {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px !important;
  width: 16.6%;
  flex-direction: column;
}
.category-item {
  background-color: #f3f3f3;
  border-radius: 100%;
  height: 130px;
  width: 130px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 80px;
    transition: transform 0.2s ease-in-out; /* Add smooth animation */
  }
}

.category-item:hover img {
  transform: scale(1.1); /* Slightly increase the image size on hover */
}
.category-list-name {
  margin-top: 15px;
  font-weight: 400;
  font-family: poppinsRegular;
  font-size: 14px;
  color: var(--text-normal);
}
.category-item:hover {
  transform: translateY(-1px);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 990px) {
  .Category-body-container {
    padding: 0 !important;
  }
  .category {
    width: 33.3% !important;
  }
}

@media screen and (max-width: 1200px) {
  .CategoryContainer {
    margin-top: 0;
  }
}

@media screen and (max-width: 510px) {
  .category {
    width: 33% !important;
    margin-top: 30px !important;
  }
  .header-sub-head {
    margin-top: 30px;
  }
  .CategoryContainer-head {
    font-size: 20px;
  }
  .category-item {
    width: 100px;
    height: 100px;
    img {
      width: 65px;
    }
  }
  .category-list-name {
    font-size: 12px;
  }
}
@media screen and (max-width: 360px) {
  .category-item {
    width: 90px;
    height: 90px;
    img {
      width: 60px;
    }
  }
}
